@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,800;1,14..32,900&family=Press+Start+2P&family=Unica+One&display=swap');


@import "tailwindcss";



@theme {
  --animate-blink: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
